<div class="card">
  <!-- Find a way for genre to show up here-->
  <div class="row">&nbsp; </div>
  <div class="row">
    
    <div class="col-md-1"></div>
    <div class="col-md-2">
      <a href=""><img src="../../assets/becoming.jpg" width="200" height="250" class="rounded"></a>
    </div>
    <div class="col-md-2">
      <a href=""><img src="../../assets/becoming.jpg" width="200" height="250" class="rounded"></a>
    </div>
    <div class="col-md-2">
      <a href=""><img src="../../assets/becoming.jpg" width="200" height="250" class="rounded"></a>
    </div>
    <div class="col-md-2">
      <a href=""><img src="../../assets/becoming.jpg" width="200" height="250" class="rounded"></a>
    </div>
    <div class="col-md-2">
      <a href=""><img src="../../assets/becoming.jpg" width="200" height="250" class="rounded"></a>
    </div>
    </div>
    <div class="row">&nbsp;</div>
</div>