<!-- This component is what goes into the shopping cart, it's just a changed version of the card to reflect that it's in the cart. -->
<div class="card"> 
    <div class="card-body">
      <div class="row">
        <div class="col-lg-4 ">
          <img src="{{book.Image}}" class="" alt="Book Image" height="200px" width="150px"> <!-- Book Image, replace to get from asserts based on book name-->
        </div>
        <div class="col-8">
          <h5 class="card-title">{{book.Title}}</h5> <!-- Book Title -->
          <h5 class="card-title">{{book.Author}}</h5> <!-- Book Author -->
          <p class="card-text">{{book.Description}}</p> <!-- Book Description -->
        </div>
      </div>
        <div class="row">
          <div class="col-4">
            <br>
            <h5 class="card-title" id="price">${{book.Price}}</h5> <!-- Book Price -->
          </div>
          <div class="col-6">
            <label>&nbsp;</label>
            <input type="button" class="btn btn-dark" value="Remove" (click) = "removeBook(book)">
          </div>
          <div class="col-2"> <!-- Quanity amount -->
            <br>
            <label>Quantity&nbsp;</label>
            <select class="">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
                <option>7</option>
                <option>8</option>
                <option>9</option>
              </select>
          </div>

        </div>
      </div>
</div>
