
  <div class="form-row">
    <div class="form-group col-md-6">
      <input type="text" class="form-control" placeholder="Book Title">
      <div class="invalid-feedback">
        Please enter book title.
      </div>
    </div>
    <div class="form-group col-md-6">
      <input required type="text" class="form-control" id="validationAuthor" placeholder="Author">
      <div class="invalid-feedback">
          Please enter a Author.
        </div>
    </div>
    <div class="form-group col-md-6">
      <input required type="text" class="form-control" placeholder="ISBN" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');">
    </div>
    <div class="form-group col-md-6">
      <input required type=text class="form-control" placeholder="Price" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');">
    </div> 
    <div class="form-group col-md-6">
      <label>Book Image:</label>
      <input required type="file" id="bookImage" name="bookImage" accept="image/png, image/jpeg">
    </div>
    <div class="form-group col-md-6">
      <!-- Nothing -->
    </div>
    <button type="submit" class="btn btn-primary">Create Book</button>
  </div>

<!-- Not sure if complete can edit later -Michael   -->
