<div class="card">
  <div class="row"><div class="col"></div><br></div>
  <div class="row">
    <div class="col-1"></div>
    <div class="col-3"><h5 class="card-title" id="reviewTitle">Title of Review</h5></div> <!-- Title of Review-->
    <div class="col-6">
      <h5 class="card-title text-center" id="reviewersName">NAME</h5> <!-- Reviewers Name -->
    </div>
    <div class="col-2"><h5 class="card-title" id="reviewStars">0/5</h5></div> <!--Star review number-->
  </div>
  <div class="row">
    <div class="col-3"></div>
    <div class="col-6">
      <h5 id="reviewText">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
        Integer posuere erat a ante.Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
        Integer posuere erat a ante.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</h5> <!-- Review -->
    </div>
    <div class="col-3"></div>
  </div>
</div>