<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<div class="form-group row">
  <label class="col-sm-2 col-form-label">Search:</label>
  <div class="col-sm-9">
      <input type="text" class="form-control" [(ngModel)] = "bookSearch">
  </div>
  <div class="col-sm-1">
    <button class="btn btn-search" type="button" (click)="search(bookSearch)" routerLink = "/book-search-result"><i class="fa fa-search"></i></button>
  </div>

</div>